
@{
    ViewBag.Title = "LogOut";
}

<h2>LogOut</h2>

<p>Are you sure you want to LogOut?</p>



    <div>
    @Html.ActionLink("Yes", "RemoveAuth")
    @Html.ActionLink("No","Index","Home")
    </div>



