
@{
    ViewBag.Title = "Index";
}
<body>
    <h2></h2>
    function substitute()   {
    <input type="text" id="myTextBox" />
    <input type="submit" value="Click Me" onclick="" />
        var myValue = document.getElementById().value;
        
        if(myValue.length == 0)

    <h1 id="title">JavaScript Example</h1>









</body>