
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h2>Questions or comments?</h2>


<p>
    We will try to answer all of your questions and address all concerns.
    Curious about something? Ask us. We are a very curious, random couple
    with random thoughts. Join us in our curiousity. Please add comments.
    Join in on the conversation. We would love to hear what you think!
    Send us ideas. Who knows, it may spark our interest and end up as a
    topic! We are easy to reach and will respond to all
    correspondence as soon as possible.
</p>
<h2>How do you reach us?</h2>
<p>
    Send us an Email: myword@gmail.com <br />
    All topics have a comment section. We monitor regularly and will
    respond to any and all comments addressed to us.<br />
    Did you submit an idea? We will respond to you
    with the link to the topic once we are able to complete our
    research.
</p>