
@{
    ViewBag.Title = "MainPage";
}

<h2>MainPage</h2>

<div class="home cards">

    <div class="row">
        <div class="col-md-6">
            <h3>Are you a curious individual?</h3>
            <p>
                We are! We love to learn and
                we love to challenge ourselves.
                We are working towards specific goals
                and would love for you to participate
                in our journey. Those goals include
                living a healthier lifestyle, building
                our company together, and simply
                exploring life to the fullest! We are
                going to document our adventures
                here in order for you to participate
                with us. Follow along with us as we
                experience this thing called life. <br />

            </p>
        </div>
    </div>
</div>