
@{
    ViewBag.Title = "Home Page";
}

@*<h2>Wedding Guest Registry</h2>

<p>Please join us in celebrating our special day!</p>


<script>
function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>



    <form name="myForm" action="demo_form.asp"
          onsubmit="return validateForm()" method="post">
        Name: <input type="text" name="fname">
        <input type="submit" value="Submit">
    </form>

<script>
function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>



<form name="myForm" action="demo_form.asp"
      onsubmit="return validateForm()" method="post">
    Address: <input type="text" name="Address">
    <input type="submit" value="Submit">
</form>

<script>
function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>



<form name="myForm" action="demo_form.asp"
      onsubmit="return validateForm()" method="post">
    Phone Number: <input type="text" name="phoneNumber">
    <input type="submit" value="Submit">
</form>

<script>*@
@*function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>



<form name="myForm" action="demo_form.asp"
      onsubmit="return validateForm()" method="post">
    Email: <input type="text" name="email">
    <input type="submit" value="Submit">
</form>*@