@model IEnumerable<GardenChocolates.Product>

@{
    ViewBag.Title = "Home Page";
}

@*@foreach (var product in Model)
{
    <div class="col-md-2 card">
        <input type="button" value="Add To Cart" onclick="AddToCartButtonClicked(@product.ProductId);"/>
        <button id="AddButton" value="@product.ProductId">Add to Cart</button>
        <p>@product.PriceEach</p>
        <p>@product.Description</p>

    </div>
}*@

<div class="jumbotron text-center">
    <h1>Garden Chocolates</h1>
    </div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="//mail.google.com/mail/u/0?view=fimg&th=158b601caa029907&attid=0.3&disp=thd&attbid=ANGjdJ_JdFbik1JaY3wD5yMgquF8y0px3EqK9uGQQ6LA-xhX0caVyaHJsDNm7I5ZIfAIqwfieSY42zTlAHyepYsWqJ_PnKUX5U-fqxnvPsaercxI3Hja6tMTG_EFDPo&sz=w226-h166&zw" alt="GardenChocolate" style="width:228px;height:304px; rotation-point:right">
        </div>
        <div class="col-sm-4">
            <h3>Shopping Cart</h3>
            <p>Click below to </p>
            <a href="http://localhost:17541/Home/Cart"><input type="button" class="btn btn-primary">Shopping Cart</</a>
            
        </div>
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <p>We are easy to reach. We are available by phone, email or mail.</p>
            <a href="http://localhost:17541/Home/Contact"><input type="button" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
</div>

