body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(112, 165, 245);
    font-family: 'Roboto', sans-serif;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.thumbnail {
    height: 400px;
    width: 200px;
    padding: 30px;
    border: 1px solid black;
    outline-style: double;
    outline-color: red;
    outline-width: thick;
    outline-style: double;
    outline-color: green;
    outline-width: 3px;*/
   
a:link {
    color: rgb(242, 12, 242);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(243, 8, 49);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.profile-cards {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(197, 225, 13);
    
    border-width: 4px;
    
    color: black;
    


}
.caption {
    background-color: aliceblue;

}
    

